<div class="post-message-list">
 <img alt="" class="User-profileImage" src="http://pbs.twimg.com/profile_images/1119706250122530817/HkRMwaz9_normal.png">

 <form action="/post-destroy" method="post">

 <div class="message-partials">
 {{text}}
</div>
 <input type="hidden" name="idPost" value="{{id_str}}">
<br>
    <input type="submit"  class="btn-tweet-delete" value="Delete">
    
 </form>
</div>