<div class="post-message-list">
 <img alt="" class="User-profileImage" src="{{user.profile_image_url}}">

 <form action="/post-destroy" method="post">

 <div class="message-partials">
 {{text}}
 <span class="Icon--medium Icon--reply"></span> 
</div>
 <input type="hidden" name="idPost" value="{{id_str}}">
<br>
    <input type="submit"  class="btn-tweet-delete" value="Delete">
    
 </form>
</div>