<nav>
    <div class="box-nav">
        <a href="/"><img src="img/twitter-logo-1-1.png"></a>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if user}}
            <li><a href="/logout">Logout</a></li>
            <a href="/profile"><img src="{{user.thumbnail}}"></a>
            {{else}}
            <li><a href="/auth/twitter">Sign in with Twitter</a></li>
            {{/if}}
        </ul>
    </div>
</nav>