<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="{{this.profile_image_url}}" alt="Card image cap">
     <div class="card-body">
    <h5 class="card-title">{{this.location}}
    </h5>
    <p class="card-text">{{this.description}}</p>
 
  </div>
</div>
<br>

