
<script>
function changeAction(action_name){

 if( action_name=="tweets" ) {
        document.formSearch.action = "/tweets";
    }
  else if( action_name=="hashtag" ) {
        document.formSearch.action = "/tweets";
    }

    else if( action_name=="user" ) {
      document.formSearch.action = "/search-user";
    }


}

</script>


<h4>busca:</h4>
<form name="formSearch" action="/tweets" method="GET">

  <input type="text" name="hash" value="">
 <input type="submit" value="GO"> <br>


</form>
 <input type="radio" name="opt" value="tweets"  onchange="changeAction('tweets');">  tweets
 <input type="radio" name="opt" value="hashtag" onchange="changeAction('hashtag');" > hashtag
 <input type="radio" name="opt" value="user"    onchange="changeAction('user');"> user



 <div class="access-twitter">
 <a href="/auth/twitter"> <button  class="a btn btn-info">Entrar com Twitter</button></a>
 </div>