<form action="/result" method="GET">
    <ul>
        <li><input id="user" type="radio" name="filter" value="user"><label for="user">Username</label></li>
        <li><input id="twit" type="radio" name="filter" value="twit"><label for="twit">Twit</label></li>
        <li><input id="hashtag" type="radio" name="filter" value="hashtag"><label for="hashtag">Hashtag</label></li>
    </ul>
    <input type="text" name="keyword">
    <button type="submit">Buscar</button>
</form>