<nav>
    <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
<main>
    <a href="/auth/twitter">Sign in with Twitter</a>
</main>
{{#if user}}
<h2>Olá! {{user.username}}</h2>
{{/if}}