<html>
<body>
 <head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
 </head>
<nav class="head"> 
    <div class="top-black"></div>
 <div class="logo-tny">
 </div>  
</nav>
 
</body>
</html>