    <div class="form-tny">
        <form method="GET" action="/search-results">
            <input name="q" id="input-search">
            <button type="submit" class="btn btn-primary">GO</button>
        </form>
    </div>